main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
}

body {
    background-color: cadetblue;
    text-align: left;
    color:black;
    font-family: monospace;
    margin: 0 auto;
    width: 900px;
    font-size: 16px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color:antiquewhite;
    text-decoration: underline;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

.italics {
    font-style: italic;
}


.pic {
    max-width: 200px;
}

figure figcaption {
    text-align: center;
}

figure {
    text-align: center;
    margin: auto;
}

ul {
    padding-left: 10px
}

.sublist {
    padding-left: 30px;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

/* Mobile Devices*/
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    main {
      width: 200px;
      height: 200px;
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    main {
      width: 400px;
      height: 400px;
    }
  }