body {
    background-color: cadetblue;
    color: black;
    font-family: monospace;
    font-size: 16px;
    margin: 0 auto;
    width: 900px;
    text-align: left;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
}

h2, header, footer, figure figcaption, figure {
    text-align: center;
}

.center {
    margin: 0 auto;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: antiquewhite;
    text-decoration: underline;
}

.italics {
    font-style: italic;
}

.pic {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}

ul {
    padding-left: 10px;
}

.sublist {
    padding-left: 30px;
}

.border-black>*,
.border-blackk>td {
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0.631);
}

table {
    margin: auto;
    padding-bottom: 1rem;
    width: 100%;
    border-collapse: collapse;
}

thead tr {
    background-color: #333;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #e0e0e0;
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
}

.center-all {
    text-align: center;
}

.byo-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: large;
}


.bottom-buttons {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bottom-buttons>input {
    font-size: medium;
}

.classResponse>input {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.byoLoadImg {
    margin: auto;
    max-width: 170px;
}

.byo-form>label>input {
    background-color: rgb(248, 240, 227);
    font-size: medium;
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
}

.mySlides {
display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* Mobile Devices */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    main {
      width: 200px;
      height: 400px;
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    main {
      width: 400px;
      height: 400px;
    }
}

/* For Laptop View */
@media screen and (min-device-width: 1080) and (max-device-width: 2400) {
    main {
      width: 800px;
      height: 600px;
    }
}