body {
    background-color: cadetblue;
    text-align: center;
    color:black;
    font-family: monospace;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color:antiquewhite;
    text-decoration: underline;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

.italics {
    font-style: italic;
}