body {
    background-color: #FEFAE0;
    text-align: center;
    color:#283618;
    font-family: sans-serif;
}

a {
    color: #BC6C25;
    text-decoration: none;
}

a:hover {
    color: #DDA15E;
    text-decoration: underline;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

.italics {
    font-style: italic;
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.pic {
    max-width: 200px;
}

figure figcaption {
    text-align: center;
}

.emphasize {
    color: #606C38;
}