<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <footer>
            <nav>
                <a href="https://webpages.charlotte.edu/egraha24/">Charlotte.edu</a> ||
                <a href="https://github.com/etgraham9/etgraham9.github.io">Github</a> ||
                <a href="https://etgraham9.github.io/">Github.io</a> ||
                <a href="https://www.freecodecamp.org/etgraham">freeCodeCamp</a> ||
                <a href="https://www.codecademy.com/profiles/chip6799391972">Codecademy</a> ||
                <a href="https://www.linkedin.com/in/ethan-graham-b6b40b251/">LinkedIn</a>
            </nav>
            <p>Page Built by <a href="egenterprises.com/">EG Enterprises</a> &copy; 2025</p>
            <p><em>Certified in <a href="https://www.freecodecamp.org/certification/etgraham/responsive-web-design">Responsive Web Design</a></em></p>
        </footer>
    </body>
</html>